@tailwind base;
@tailwind components;
@tailwind utilities;
/** These are specific for the tag that will be added to the rich text content */
.trix-content .attachment-gallery > .attachment,
.trix-content .attachment-gallery > rich-text-attachment {
    flex: 1 0 33%;
    padding: 0 0.5em;
    max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > .attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > rich-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > rich-text-attachment {
    flex-basis: 50%;
    max-width: 50%;
}

.trix-content rich-text-attachment .attachment {
    padding: 0 !important;
    max-width: 100% !important;
}

/** These are TailwindCSS specific tweaks */
.trix-content {
    @apply w-full;
}

.trix-content h1 {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    @apply leading-5 font-semibold mb-4;
}

.trix-content a:not(.no-underline) {
    @apply underline;
}

.trix-content ul {
    list-style-type: disc;
    padding-left: 2.5rem;
}

.trix-content ol {
    list-style-type: decimal;
    padding-left: 2.5rem;
}

.trix-content img {
    margin: 0 auto;
}

.trix-content ol li {
    list-style: decimal;
    margin-left: 1em; }
    
.trix-content ul li {
    list-style: disc;
    margin-left: 1em; 
}

.fit{
    min-height: 250px;
    height: auto;
}


.trix-button-group--file-tools {
    display: none !important;
}

.trix-button--icon-code {
    display: none !important;
}

.trix-button--icon-quote {
    display: none !important;
}

/* Style for the options button */
#optionsButton {
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Style for the options menu container */
#optionsMenu {
    display: none;
    z-index: 999;
}

/* Style for individual dropdown menu items */
#optionsMenu a {
    z-index: 999;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333; /* Customize the text color */
    transition: background-color 0.2s;
}

/* Hover effect for dropdown menu items */
#optionsMenu a:hover {
    z-index: 999;
    background-color: #f3f3f3; /* Customize the hover background color */
}
